<table>
    <tr>
        <th class="table-clmn-title" id="mon">Mon</th>
        <th class="table-clmn-title" id="tue">Tue</th>
        <th class="table-clmn-title" id="wed">Wed</th>
        <th class="table-clmn-title" id="thu">Thu</th>
        <th class="table-clmn-title" id="fri">Fri</th>
        <th class="table-clmn-title" id="sat">Sat</th>
        <th class="table-clmn-title" id="sun">Sun</th>
        <th class="table-clmn-title" id="status">Status</th>
        <th class="table-clmn-title" id="date">Date</th>
    </tr>
    {{table}}